body {
background-color: black;
}
td {
padding: 15px;
background-color: white;
text-align: center;
font-family: Sans-Serif;
height: 20%;
width: 20%;
}
table, th, td {
border: 2px solid #ff0000;
border-collapse: collapse;
}
table {
margin: auto;
width: 40%;
}
th {
font-size: 45px;
}
