body {
background-color: #ff0000;
}
td {
padding: 25px;
background-color: white;
}
table, th, td {
border: 2px solid black;
border-collapse: collapse;
}
table {
margin: auto;
width: 40%;
}
th {
font-size: 45px;
}
